<div class="card shadow-effect mt-2">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIBE</h3>

            <div class="alert alert-danger" *ngIf="error">
                Email is already in use
            </div>

            <div class="alert alert-info" *ngIf="subscribed">
                You have successfully subscribed!
            </div>

            <p class="m-auto subs-text">No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any criminal charge against him. No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law against such interference or attacks.</p>
            <form class="form-inline mb-5 text-center" #subForm = ngForm (ngSubmit)="onSubmit(subForm.value)" *ngIf="!subscribed">
                <div class="d-flex justify-content-center row mt-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input name="name" #Name="ngModel" ngModel required 
                            type="text" class="form-control" placeholder="Your Name"
                            [ngClass]="{'is-invalid': Name.touched && Name.invalid}">
                            <div class="text-danger" *ngIf="Name.touched && Name.invalid">
                                <div *ngIf="Name.errors?.['required']">Name is required </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input name = "email" #Email = 'ngModel' ngModel required email
                            type="email" class="form-control" placeholder="Email address"
                            [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
                            <div class="text-danger" *ngIf="Email.touched&&Email.invalid" >
                                <div *ngIf="Email.errors?.['required']">Email is required</div>
                                <div *ngIf="Email.errors?.['email']">Please enter a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-block btn-theme" [disabled]="subForm.invalid">SUBSCRIBE</button>
                    </div>
                </div>
            </form>
            <h2><a href="https://ang-backend-123.web.app/" target="_blank">Join our Community!</a></h2>
        </div>
    </div>
</div>
