<div class="card shadow-effect mt-2">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIBE</h3>
            <p class="m-auto subs-text">No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any criminal charge against him. No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law against such interference or attacks.</p>
            <form action="" class="form-inline mb-5 text-center">
                <div class="d-flex justify-content-center row mt-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="email" class="form-control shadow-effect" placeholder="Email address">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
