<nav>
    <li>
        <a routerLink="nav">Go to Nav Page</a>
    </li>
    <li>
        <a routerLink="/display">Go to Display Page</a>
    <li>
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="display">Display</a>
    </li>
    <li>
        <a routerLink="enter">Enter</a>
    </li>
</nav>


<router-outlet></router-outlet>

<!-- <h1 [class.text-purple]="bool">App Component</h1>
<img [src]="imgAdd"/>
<h1 [style.color] = "bool? 'red' : 'green'">Style binding - styling dom binding is a little different to css styles - check it out on w3schools dom styling properties</h1>
<p>{{enteredWord}}</p>
<p>{{message}}</p>
<app-post [fromParentApp]="parentMessage" (messageEvent)="receivedMessage($event)"></app-post>
<p>{{childMessage}}</p>
<app-enter-word (emitThis)="showWord($event)"></app-enter-word> -->
