<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Dummy Text - No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any criminal charge against him. No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. E</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4" *ngFor="let fPost of featuredArray">
                <app-post-card [postData] = "fPost"></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Dummy text</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let post of latestArray">
            <div class="shadow-effect card">
                <app-post-card [postData] = "post"></app-post-card>
            </div>
        </div>
    </div>
    
</section>
