<section class="mt-5">
<div class="container mt-5 p-5 bg-theme mb-5">
    <h1 class="text-center text-white">ABOUT US</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
        In this example, the parent element marked class="container" becomes a grid container and each of the direct child elements below it automatically become grid items. What’s easy about CSS Grid is that you don’t have to assign each child element a property.
        In this example, the parent element marked class="container" becomes a grid container and each of the direct child elements below it automatically become grid items. What’s easy about CSS Grid is that you don’t have to assign each child element a property.
        In this example, the parent element marked class="container" becomes a grid container and each of the direct child elements below it automatically become grid items. What’s easy about CSS Grid is that you don’t have to assign each child element a property.
        And each of the direct child elements below it automatically become grid items. What’s easy about CSS Grid is that you don’t have to assign each child element a property.
        <div class="d-flex justify-content-center mt-3 mb-3"><button class="btn btn-info btn-theme">Back to home</button></div>
    </div>
</div>
</section>
