<div class="container">
    <div class="row">
        <div class="col-md-9">
            <img src={{currentPost.data.postImgPath}} alt="" class="card-img-top img-fluid">
            <div class="card-body shadow-effect">
                <small class="bg-light text-danger text-center">{{currentPost.data.category.category}}</small>
                <small class="bg-light text-success text-center ms-2" *ngIf="currentPost.data.isFeatured">Feature</small>
                <small class="bg-light text-info text-center ms-2">Views</small>
                <small class="bg-light text-warning text-center ms-2">LAST UPDATED - {{currentPost.data.createdAt.toMillis() | date}}</small>

                <h1 class="mt-3 mb-3">{{currentPost.data.title}}</h1>
                <p>{{this.currentPost.data.content}}</p>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <div class="side-column"  *ngFor="let post of featured">
                <app-post-card [postData]='post' *ngIf="post.id!==currentPost.id" [ngStyle]="{'max-height':'20px'}"></app-post-card>
        </div>
    </div>
</div>

