<div class="container">
    <div class="row">
        <div class="col-md-9">
            <img src="https://images.pexels.com/photos/2402503/pexels-photo-2402503.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-img-top img-fluid">
            <div class="card-body shadow-effect">
                <small class="bg-light text-danger text-center">Design</small>
                <small class="bg-light text-success text-center ms-2">Feature</small>
                <small class="bg-light text-info text-center ms-2">Views</small>
                <small class="bg-light text-warning text-center ms-2">LAST UPDATED - 20 SEPT 2022</small>

                <h1 class="mt-3 mb-3">Dummy heading to h1 Tag</h1>
                <p>As I preferred wireless, I opted to buy these headphone set during the Amazon sale, along with a TP-Link Bluetooth adapter as a alternative solution. After having gotten authorisation to use them in the workplace, I am thrilled with their performance.

                    For a start, they are extremely lightweight and naturally fitting over the ear with no discomfort.
                    
                    The earpieces can be paired for stereo sound or individually to a device. This is important to me as it helps my awareness of activity and work discussions around me. The earphones are paired so that they can be swapped from the charging cradle seamlessly and this cradle holds significant charge and charges quickly.
                    
                    It paired easily with the plug-and-play adapter and was detected straightaway when adding a new Bluetooth device in the system settings, although it tends to favour the right earphone as the identifying device.
                    
                    It was easy to configure the telephony app to then broadcast and receive to the headphones. Incoming calls are crisply audible as much as a natural phone handset, though naturally normal phone interference exists where the incoming call is not a landline.
                    Equally the lack of a boom arm microphone would lead to concerns on the sound quality of the call being transmitted; I am assured by my supervisor that it is clear enough for me to be heard whilst unwanted background noise in an office can be heard, it is not distinct enough to be overheard.

Overall, a fab easy to install product, great quality gadget in an affordable price range and promptly delivered with a minimum of packaging.
As I preferred wireless, I opted to buy these headphone set during the Amazon sale, along with a TP-Link Bluetooth adapter as a alternative solution. After having gotten authorisation to use them in the workplace, I am thrilled with their performance.

For a start, they are extremely lightweight and naturally fitting over the ear with no discomfort.

The earpieces can be paired for stereo sound or individually to a device. This is important to me as it helps my awareness of activity and work discussions around me. The earphones are paired so that they can be swapped from the charging cradle seamlessly and this cradle holds significant charge and charges quickly.

It paired easily with the plug-and-play adapter and was detected straightaway when adding a new Bluetooth device in the system settings, although it tends to favour the right earphone as the identifying device.

It was easy to configure the telephony app to then broadcast and receive to the headphones. Incoming calls are crisply audible as much as a natural phone handset, though naturally normal phone interference exists where the incoming call is not a landline.
Equally the lack of a boom arm microphone would lead to concerns on the sound quality of the call being transmitted; I am assured by my supervisor that it is clear enough for me to be heard whilst unwanted background noise in an office can be heard, it is not distinct enough to be overheard.

Overall, a fab easy to install product, great quality gadget in an affordable price range and promptly delivered with a minimum of packaging.
                </p>
            </div>
            <app-comment-form></app-comment-form>
        </div>
        <div class="col-md-3">
            <app-post-card class="jump"></app-post-card>
            <app-post-card [ngStyle]="{'max-height': '3vh', 'overflow': 'auto'}"></app-post-card>
            <app-post-card [ngStyle]="{'max-height': '3vh', 'overflow': 'auto'}"></app-post-card>
        </div>
    </div>
</div>

