<div class="shadow-effect card">
    <img src="https://images.pexels.com/photos/14894269/pexels-photo-14894269.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="post-image">
    <div class="card-body mt-2">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-danger text-center ms-md-3"> Featured </small>
        <small class="bg-light text-danger text-center ms-md-3"> Views - 10 </small>
        <h5 class="mt-2">How to start a blog</h5>
        <p>How to write a blog post, how to author a book, how to become an influencer, how to reach millions. A product, idea or invention is only as good as its marketing. The quality does not matter in this day and age, as people will have no way of knowing about it. It's not an inherent flaw. It is a system that does work. So is marketing the answer to everything? Or is there a way to reach increasingly busy people direclty with good quality? How can we achieve that?</p>
        <small class="bg-light text-warning text-center ms-3"> Last updated - June 20th, 2023</small>
    </div>
</div>
