<div class="shadow-effect card" *ngFor="let post of postArray">
    <img src={{post.data.postImgPath}} class="card-img-top" alt="post-image">
    <div class="card-body mt-2">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-danger text-center ms-md-3"> Featured </small>
        <small class="bg-light text-danger text-center ms-md-3"> Views - 10 </small>
        <h5 class="mt-2">{{post.data.title}}</h5>
        <p>{{post.data.content}}</p>
        <small class="bg-light text-warning text-center ms-3"> Last updated - June 20th, 2023</small>
    </div>
</div>
